.col-md-3
{
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

.col-md-9 
{
 background-color: white;   
}

.col-md-12
{
    background-color: white;
}

.col-md-4
{
    list-style-type: none;
    background-color: white;
}

.alert 
{
    background-color: bisque;
    border: 1px solid black;
}